@mainColor: #ec6647;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    font-size: 16px;
    font-family: 'Roboto', '맑은고딕', sans-serif;
    max-width:1920px;
    margin: 0 auto;
    background-color: #f0f0f0;
    min-height: 2000px;/*지워*/
}
.wraps {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.backgroundOption {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#wrap{
    main.main_page{
        section.top_banner{
            width: 100%;
            height: 500px;
            background: gainsboro;
            .backgroundOption;
            div.wrap{
                .wraps;
                padding-top: 140px;
                box-sizing: border-box;
                h3{
                    margin-top: 40px;
                }
            }
        }
        section.top_inputs{
            width: 100%;
            height: 250px;
            transform: translateY(-50px);
            div.wrap{
                .wraps;
                background-color: white;
                padding: 50px;
                box-sizing: border-box;
                div.left_tab{
                    width: 300px;
                    height: 100%;
                    float: left;
                    h2{
                        font-size: 1.875rem;
                        font-weight: bold;
                        color: #222222;
                        letter-spacing: -1px;
                    }
                    p{
                        letter-spacing: -1px;
                        margin-top: 10px;
                    }
                }
                div.input_tab{
                    width: 520px;
                    height: 100%;
                    float: left;
                    ul.inputs{
                        margin-bottom: 20px;
                        height: 115px;
                        li{
                            width: 48%;
                            margin-right: 1%;
                            height: 44.5%;
                            margin-bottom: 2%;
                            display: inline-block;
                            input{
                                width: 100%;
                                height: 100%;
                                border:2px solid #d9d9d9;
                                box-sizing: border-box;
                                outline: none;
                                padding-left: 10px;

                            }
                        }
                    }
                }
                div.btn_tab{
                    width: 250px;
                    height: 115px;
                    margin-left: 15px;
                    float: left;
                    .btns{
                        height: 47%;
                        background: #ec6647;
                        margin-bottom: 2%;
                        text-align: center;
                        line-height: 55px;
                        color: white;
                        border-radius: 150px;
                        font-weight: bold;
                        -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
                        -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
                        box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
                    }
                }
             
            }
        }
        section.section1{
            width: 100%;
            height: 500px;
            .backgroundOption;

            div.wrap.tab2_mode{
                .wraps;
                padding-top: 50px;
                box-sizing: border-box;
                .tabs{
                    height: 100%;
                    float: left;
                }
                .left_tab{
                    h2{
                        font-size: 2.4rem;
                        font-weight: bold;
                        letter-spacing: -2px;
                        color: #222222;
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 1.125rem;
                        margin-bottom: 5px;
                        color: #444444;;
                    }
                }
                .right_tab{
                    float: right;
                    .ani_section{
                        width: 730px;

                    }
                    .page1-section1-ani{
                        padding-top: 70px;
                        box-sizing: border-box;
                        h2{
                            text-align: center;
                            font-size: 1.25rem;
                            font-weight: bold;
                            letter-spacing: -1px;
                        }
                        ul{
                            width: 100%;
                            height: 225px;
                            text-align: center;
                            margin-top: 20px;
                            position: relative;
                            z-index: 10;
                            li{
                                opacity: 0.0;

                                width: 150px;
                                height: 100%;
                                display: inline-block;
                                margin-left: 15px;
                                margin-right: 15px;
                                overflow: hidden;
                                div.circle_box{
                                    width: 150px;
                                    height: 150px;
                                    border: 1px solid #b9b9b9;
                                    background-color: #f0f0f0;
                                    box-sizing: border-box;
                                    border-radius: 150px;
                                    margin-bottom: 10px;
                                    .backgroundOption;
                                    background-size: 86%;
                                }
                                p{
                                    font-size: 0.9rem;
                                    letter-spacing: -1px;
                                    margin-bottom: 5px;
                                    color: #666666;
                                }
                            }
                            li:nth-child(1){
                                margin-left: 0px;
                                div.circle_box{
                                    background-image: url(../img/sub_page/section1-circle1.png)
                                }
                            }
                            li:nth-child(2){
                                div.circle_box{
                                    background-image: url(../img/sub_page/section1-circle2.png)
                                }
                            }
                            li:nth-child(3){
                                div.circle_box{
                                    background-image: url(../img/sub_page/section1-circle3.png)
                                }
                            }
                            li:nth-last-child(1){
                                margin-right: 0px;
                                div.circle_box{
                                    background-image: url(../img/sub_page/section1-circle4.png)
                                }
                            }
                        }
                        p.ani_line{
                            width: 100%;
                            height: 1px;
                            background: #d0d0d0;
                            position: relative;
                            top: -150px;
                            z-index: 1;
                        }
                    }
                    .page2-section1-ani{
                        text-align: center;
                        h2{
                            padding-top: 50px;
                            box-sizing: border-box;
                            text-align: center;
                            font-size: 1.125rem;
                            letter-spacing: -1px;
                            font-weight: bold;
                            span{
                                color: @mainColor;
                            }
                        }
                     
                        div.pie-chart1{
                            margin-top: 15px;
                            margin-bottom: 15px;
                            display:inline-block;
                            width: 280px;
                            height:280px;
                            // border-radius: 50%;
                            // transition: 0.3s;
                            // background-image: url(../img/ani_img/page2-section1.png);
                            // .backgroundOption;
                            // background-size: cover;
                            position: relative;
                            div{
                                width: 50%;
                                height: 100%;
                                float: left;
                            }
                            div.pie_half1{
                                background-position: left;
                                position: relative;
                                background-image: url(../img/ani_img/page2-section1.png);
                                opacity: 0.0;
                                z-index: 75;

                                div{
                                    position: relative;
                                    width: 101%;
                                    height: 101%;
                                    border-radius: 150px 0px 0px 150px;
                                    background-color: #f0f0f0;

                                    top: -2px;
                                    left: -1px;

                                    transform-origin: right center;
                                    z-index: 80;
                                    // animation: rotateBox 1s;
                                    animation-duration: .6s;
                                    animation-timing-function: ease-out;
                                    -webkit-animation-fill-mode: forwards;
                                    animation-fill-mode: forwards;

                                }
                            }
                            div.pie_half2{
                                background-position: right;
                                position: relative;
                                z-index: 80;
                                background-image: url(../img/ani_img/page2-section1.png);

                                div{
                                    position: relative;
                                    z-index: 75;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 0px 150px 150px 0px;
                                    background-color: #f0f0f0;

                                    transform-origin: left center;
                                    // animation-name: rotateBox;
                                    animation-duration: .6s;
                                    animation-timing-function: ease-in;
                                    -webkit-animation-fill-mode: forwards;
                                    animation-fill-mode: forwards;
                                    // transform: rotate(180deg);
                                }
                            }
                            
                            @keyframes rotateBox {
                                0%{

                                }
                                80%{

                                }
                                100%{

                                    transform: rotate(180deg);
                                }
                                
                            }
                            div.center{
                                width: 145px;
                                height: 145px;
                                background-image: url(../img/ani_img/page2-section1_text.png);
                                .backgroundOption;
                                background-size: 70%;
                                position: absolute;
                                border-radius: 140px;
                                z-index: 90;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%,-50%);
                                opacity: 0.0;
                            }
                        }
                    }
         
                }
          
            }
            div.wrap.tab3_mode{
                .wraps;
                padding-top: 50px;
                box-sizing: border-box;
                h2{
                    font-size: 2.5rem;
                    letter-spacing: -1px;
                    font-weight: bold;
                    color: #222222;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 1.125rem;
                    letter-spacing: -1px;
                }
                .page3-section1-ani{
                    margin-top: 30px;
                    width: 100%;
                    height: 280px;
                    .tabs{
                        width: 48%;
                        height: 100%;
                        display: inline-block;
                        float: left;
                        background: white;
                        padding: 30px;
                        box-sizing: border-box;
                        h3{
                            font-size: 1rem;
                            font-weight: bold;
                            line-height: 1.3rem;
                        }
                        p{
                            margin-top: 10px;
                            font-size: 0.875rem;
                            color: #777777;
                            line-height: 1.2rem;
                        }
                        div.graph_tab{
                            width: 95%;
                            height: 155px;
                            margin: 25px auto;
                            position: relative;
                            div.hide_bar{
                                width: 95%;
                                height: 9px;;
                                left: 50%;
                                transform: translateX(-50%);
                                background: white;
                                border: 1px solid #d9d9d9;
                                border-left: 0px;
                                border-right: 0px;
                                position: absolute;
                                bottom: 40px;
                                z-index: 90
                            }
                            ul{
                                width: 100%;
                                height: 80%;
                                border-bottom: 1px solid #d0d0d0;
                                margin: 0 auto;
                                li{
                                    position: relative;
                                    bottom: 0%;
                                    width: calc(99%/6);
                                    height: 100%;
                                    float: left;
                                    text-align: center;
                                    overflow: hidden;
                                    div.graph_wrap{
                                        position: absolute;
                                        bottom: -10%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 100%;
                                        margin: 0 auto;
                                        p{
                                            font-size: 0.875rem;
                                            color: #222222;
                                            opacity: 0.0;
                                        }
                                        .count_people4{
                                            color: #4ab120;
                                        }
                                        .count_people5{
                                            color: #f99430;
                                        }
                                        .count_people6{
                                            color: #ec5938;
                                        }
                                        div.stick{
                                            width: 30px;
                                            // height: 100px;
                                            height: 0px;
                                            margin: 0 auto;
                                            background-color: #d9d9d9;
                                            .backgroundOption;
                                        }
                                
                                        div.stick_l4{
                                            // height: 80px;
                                            background-image: url(../img/ani_img/page3_section1-stcik1.png);
                                        }
                                        div.stick_l5{
                                            // height: 95px;
                                            background-image: url(../img/ani_img/page3_section1-stcik2.png);

                                        }
                                        div.stick_l6{
                                            // height: 110px;
                                            background-image: url(../img/ani_img/page3_section1-stcik3.png);
                                        }

                                    }
                                }
                            }
                            ul.count{
                                width: 100%;
                                height: 10%;
                                border: 0px;
                                padding-top: 10px;
                                li{
                                    color: #777777;
                                    font-size: 0.875rem;
                                }
                                li:nth-child(4){
                                    color: #4ab120;
                                }
                                li:nth-child(5){
                                    color: #f99430;

                                }
                                li:nth-child(6){
                                    color: #ec6647
                                }
                            }
                            ul.r_count{
                                li:nth-child(4){
                                    color: #777777;
                                }
                                li:nth-child(5){
                                    color: #777777;
                                }
                                li:nth-child(6){
                                    color: #777777;
                                }
                            }

                        }
                  
                    }
                    .right_tab{
                        float: right;
                        p.gender_tab{
                            position: absolute;
                            top: -25px;
                            left: -10px;
                            font-size: 0.775rem;
                            color: #777777;

                            b{
                                margin-right: 5px;
                            }
                            b:nth-child(1){
                                color: #83c8f9;
                                span{
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    background-color:#83c8f9;

                                }
                            }
                            b:nth-child(2){
                                color: #fda1d7;
                                span{
                                    display: inline-block;
                                    width: 10px;
                                    height: 10px;
                                    background-color:#fda1d7;
                                }
                            }
                            
                        }
                        ul.graph_tab{
                            li{
                                div.stick_wrap{
                                    width: 50%;
                                    height: 100%;
                                    margin: 0 auto;
                                    position: relative;

                                    div.left_stick{
                                        width: 60%;
                                        // height: 50%;
                                        position: absolute;
                                        bottom: 0px;
                                        div{
                                            bottom: 0;
                                            width: 70%;
                                            height: 100%;
                                            float: left;
                                            background: #fda1d7;
                                        }
                                        p{
                                            width: 100%;
                                            color: #fda1d7;
                                            text-align: center;
                                            // left: -3px;;
                                            opacity: 0.0;
                                            position: relative;
                                            left: -3px;;
                                            letter-spacing: -1px;
                                            font-size: 0.775rem;

                                        }
                                    }
                                    div.right_stick{
                                        width: 50%;
                                        // height: 100%;
                                        position: absolute;
                                        bottom: 0px;
                                        right: 0px;
                                        div{
                                            float: right;
                                            width: 70%;
                                            height: 100%;
                                            background: #83c8f9
                                        }
                                        p{
                                            width: 100%;
                                            color: #83c8f9;
                                            text-align: center;
                                            opacity: 0.0;
                                            letter-spacing: -1px;
                                            font-size: 0.775rem;
                                            b{
                                                color: #83c8f9;
                                                font-weight: bold;
                                            }

                                        }
                                    }
                                  
                                }
                            }
     
                        }
                
               
                    }
                }
                .page4-section1-ani{
                    margin-top: 30px;
                    width: 100%;
                    height: 280px;
                    .tabs{
                        width: 48%;
                        height: 100%;
                        display: inline-block;
                        float: left;
                        background: white;
                        padding: 30px;
                        box-sizing: border-box;
                        h3{
                            font-size: 1rem;
                            font-weight: bold;
                            line-height: 1.3rem;
                        }
                        p{
                            margin-top: 10px;
                            font-size: 0.875rem;
                            color: #777777;
                            line-height: 1.2rem;
                        }
                        div.graph_tab{
                            width: 95%;
                            height: 155px;
                            margin: 25px auto;
                            position: relative;
                            div.hide_bar{
                                width: 95%;
                                height: 9px;;
                                left: 50%;
                                transform: translateX(-50%);
                                background: white;
                                border: 1px solid #d9d9d9;
                                border-left: 0px;
                                border-right: 0px;
                                position: absolute;
                                bottom: 40px;
                                z-index: 90
                            }
                            ul{
                                width: 100%;
                                height: 80%;
                                border-bottom: 1px solid #d0d0d0;
                                margin: 0 auto;
                                li{
                                    position: relative;
                                    bottom: 0%;
                                    width: calc(99%/6);
                                    height: 100%;
                                    float: left;
                                    text-align: center;
                                    overflow: hidden;
                                    div.graph_wrap{
                                        position: absolute;
                                        bottom: -10%;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        width: 100%;
                                        margin: 0 auto;
                                        p{
                                            font-size: 0.875rem;
                                            color: #222222;
                                            opacity: 0.0;
                                        }
                                        .count_people4{
                                            color: #4ab120;
                                        }
                                        .count_people5{
                                            color: #f99430;
                                        }
                                        .count_people6{
                                            color: #ec5938;
                                        }
                                        div.stick{
                                            width: 30px;
                                            // height: 100px;
                                            height: 0px;
                                            margin: 0 auto;
                                            background-color: #d9d9d9;
                                            .backgroundOption;
                                        }
                                
                                        div.stick_l4{
                                            // height: 80px;
                                            background-image: url(../img/ani_img/page3_section1-stcik1.png);
                                        }
                                        div.stick_l5{
                                            // height: 95px;
                                            background-image: url(../img/ani_img/page3_section1-stcik2.png);

                                        }
                                        div.stick_l6{
                                            // height: 110px;
                                            background-image: url(../img/ani_img/page3_section1-stcik3.png);
                                        }

                                    }
                                }
                            }
                            ul.count{
                                width: 100%;
                                height: 10%;
                                border: 0px;
                                padding-top: 10px;
                                li{
                                    color: #777777;
                                    font-size: 0.875rem;
                                }
                                li:nth-child(4){
                                    color: #4ab120;
                                }
                                li:nth-child(5){
                                    color: #f99430;

                                }
                                li:nth-child(6){
                                    color: #ec6647
                                }
                            }
                            ul.r_count{
                                li:nth-child(4){
                                    color: #777777;
                                }
                                li:nth-child(5){
                                    color: #777777;
                                }
                                li:nth-child(6){
                                    color: #777777;
                                }
                            }

                        }
                  
                    }
                    .right_tab{
                        float: right;
                        .tab_left{
                            width: 40%;
                            float: left;
                       p.count_sticker{
                           margin-top: 90px;
                           font-size:0.813rem;
                           color: #777777;
                           b{
                            color: @mainColor;
                            font-weight: bold;
                            margin-right: 5px;
                            span{
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                background: @mainColor;
                                margin-right: 3px;
                            }
                        }
                        b:nth-child(2){
                            color: #999999;
                            span{
                                background: #999999;
                            }
                        }
                       }
                    }

                       .tab_right{
                           width: 60%;
                           height: 100%;
                           float: right;
                           div.main_circle{
                               position: absolute;
                               width: 210px;
                               height: 210px;
                               background-color: @mainColor;
                               margin: 0 auto;
                               margin-top: 10px;
                               border-radius: 100%;

                               div.half_circle{
                                   width: 50%;
                                   height: 100%;
                                //    background-color: #f0f0f0;

                                   background-color: @mainColor;

                                   opacity: 0.0;
                                   float: left;
                               }
                               .main_half_left{
                                   border-radius: 210px 0 0 210px;

                               }
                               .main_half_right{
                                   position: relative;
                                   z-index: 21;
                                border-radius: 0px 210px 210px 0px;
                                transform-origin: left center;
                                transform: rotate(30deg);
                                background: @mainColor;

                            }
                           }
                           div.hide_circle{
                            position: absolute;
                            width: 210px;
                            height: 210px;
                            margin: 0 auto;
                            margin-top: 10px;
                            border-radius: 100%;

                            div.half_circle{
                                width: 50%;
                                height: 100%;
                                float: left;
                            }
                            .hide_half_left{
                                position: relative;
                                background: #f0f0f0;
                                border-radius: 210px 0 0 210px;
                                z-index: 20;
                                transform-origin: right center;
                                // animation-name: rotateData;
                                animation-duration: .6s;
                                 animation-timing-function: ease-in;
                                -webkit-animation-fill-mode: forwards;
                                animation-fill-mode: forwards;
                                // display: none;


                                
                            }
                            .hide_half_right{
                             border-radius: 0px 210px 210px 0px;
                             position: relative;
                             z-index: 21;
                             transform-origin: left center;
                             background: #f0f0f0;
                            //  display: none;
                            //  animation-name: rotateData;
                             animation-duration: .6s;
                             animation-timing-function: ease-out;
                             -webkit-animation-fill-mode: forwards;
                             animation-fill-mode: forwards;
                            //  transform: rotate(30deg);
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                                    ///여기부터 ㅠㅠㅠ
                             // transform: rotate(180deg);
                         }

                        }
                
                       }
                       @keyframes rotateData {
                           0%{

                           }
                           100%{
                             transform: rotate(180deg);
                           }
                           
                       }
                      
                
               
                    }
                }

            }
        }
        section.section1.page1{
            background-image: url(../img/sub_page/page1-section1_bg.jpg);
        }
        section.section1.page2{
            background-image: url(../img/sub_page/page2-section1_bg.jpg);
        }

    }
    main.page1{
        section.top_banner{
            background-image: url(../img/sub_page/page1-banner1.jpg);
        }
    }
    main.page2{
        section.top_banner{
            background-image: url(../img/sub_page/page2-banner1.jpg);
        }
    }
    main.page3{
        section.top_banner{
            background-image: url(../img/sub_page/page3-banner1.jpg);
        }
    }
    main.page4{
        section.top_banner{
            background-image: url(../img/sub_page/page4-banner1.jpg);
        }
    }
    main.page5{
        section.top_banner{
            background-image: url(../img/sub_page/page5-banner1.jpg);
        }
    }
}

